
{% extends 'home/base.html' %}

    {% block content %}
        <h2>About Page!</h2>

        request_user: {{ request.path }} <br>
        request_path: {{ request.user }} <br>

        User: {{ user }} <br>
        User Authentication: {{ user.is_authenticated }} <br>

        {% if user.is_authenticated %}
            <br><p>User Data:</p>
        {% else %}
            <br><h4>User is not authenticated...</h4>
        {% endif %}

        {% for i in my_list %}
            <li>{{i}}</li>
        {% endfor %}

    {% endblock %}