<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BASE_HTML</title>
    {% include 'home/_bootstrap.html' %}
</head>
<body>

    {% include 'home/_bootstrap_navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
            <a href="https://www.baidu.com" target="blank">Baidu</a><br>
            {% block content %}
                default base html
            {% endblock %}
            </div>
        </div>
    </div>

    {% include 'home/_bootstrap_js.html' %}

  </body>
</body>
</html>