{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Fill Form...</h1>




    <form method='POST' action='.'> {% csrf_token %}
        {{ form | crispy }}
        <button type="submit">Submit!</button>
    </form>





{% endblock %}



<!--    HTML form example

    <form action="." method="POST"> {% csrf_token %}
        <input type="text" name="full_name">
        <input type="email" name="email_address">
        <textarea name="content" id="" cols="80" rows="16"></textarea>
        <button type="submit">Submit!</button>
    </form>

-->