{% extends 'main/base.html' %}

{% block content %}

<div id="content">

    <a href="https://marketplace.visualstudio.com/items?itemName=asvetliakov.vscode-neovim">vscode-neovim</a> <br>
    <a href="https://cmder.net/">cmder download</a> <br>
    <a href="https://www.windows-commandline.com/set-path-command-line/">windows set path</a> <br>
    <a href="https://winscp.net/eng/docs/guide_windows_openssh_server#windows_older">SSH Server for Windows</a> <br>
    <a href="https://my.vultr.com/">vultr login</a> <br>
    <a href="https://www.w3schools.com/cssref/css3_pr_background-size.asp" target="blank">CSS background</a> <br>
    <a href="https://www.w3schools.com/js/default.asp">Javascript Tutoral</a> <br>
    <a href="https://wallpapersite.com/">wallpapersite</a> <br>
    <a href="https://support.microsoft.com/en-us/help/192806/how-to-run-control-panel-tools-by-typing-a-command">Wincdows Contral Panel</a> <br>
    <a href="http://wallpaperswide.com/">Wallpaperswide</a> <br>

    <a href="https://www.youtube.com/user/ShoddyCast/playlists">ShoddyCast:Playlist (Storyteller)</a><br>
    <a href="https://www.youtube.com/watch?v=QyjyWUrHsFc">A brief history of CG (Computer Graphics)</a><br>
    <a href="http://www.url.com" target="_blank">How to Install PostgreSQL Database in Debian 10</a><br>
</div>

<div id="telist">
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid quisquam non inventore iste neque, atque illo eum quam, repellat eaque, harum nesciunt eligendi quis aliquam minima. Ipsum perspiciatis molestias recusandae?</li>
</div>

{% include 'main/cdtime.html' %}

{% endblock %}
